*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable Font */
/* Not sure about variable fonts - revisit later */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Colors */

:root {
  font-size: 0.9375em; /* Body copy is 15px */
  font-family: "Inter", sans-serif;
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --gunmetal: hsl(236, 13%, 42%);
  --dark-spaceblue: hsl(240, 100%, 5%);
}

/* Base Style */

body {
  background-color: var(--off-white);
}

/* NOTE TO SELF

Start all fonts etc with mobile sizing and use min-width to scale up

*/

h1 {
  font-size: 56px;
  line-height: 56px;
  color: var(--dark-spaceblue);
}

h2 {
  font-size: 40px;
  line-height: 40px;
  color: var(--soft-orange);
}

h3 a {
  font-size: 20px;
  line-height: 24px;
  color: var(--almost-white);
  margin-bottom: 8px;
  transition: all 0.3s;
}

h3 a:hover {
  color: var(--soft-orange);
}

p {
  font-size: 15px;
  line-height: 24px;
  color: var(--gunmetal);
}

a {
  text-decoration: none;
  color: var(--dark-spaceblue);
  transition: all 0.3s;
}

a:hover {
  color: var(--soft-red);
}

ul {
  list-style-type: none;
}

/* End of base styles */

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Navigation */

.navbar {
  margin-top: 89px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  display: flex;
  width: 64px;
}

/* Desktop Navigation */

.dt-navigation {
  display: flex;
}

.dt-link > a {
  margin-right: 40px;
}

.dt-link > a:hover,
.mb-link a:hover {
  color: var(--soft-red);
}

.dt-link:last-child a {
  margin-right: 0;
}

/* Mobile Navigation */

@keyframes nav-in {
  0% {
    left: 120%;
  }

  100% {
    left: 0;
  }
}

.mb-nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  animation-name: nav-in;
  animation-duration: 1s;
}

@keyframes overlay-in {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 68.27%);
  }
}

.overlay {
  width: calc(100% - 68.27%);
  background-color: #000000;
  opacity: 0.55;
  animation-name: overlay-in;
  animation-duration: 1s;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 68.27%;
  background-color: #fff;
}

.navigation-container img {
  align-self: flex-end;
}

.nav-icon {
  display: flex;
  justify-content: center;
}

#nav-icon-close {
  width: 30px;
  margin: 40px 20px 0 0;
}

.mb-navigation {
  padding: 89px 29px 0 24px;
}

.mb-link {
  margin-bottom: 24px;
}

.mb-navigation:last-child li.mb-link > a {
  margin-bottom: 0;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  .nav-icon {
    display: none;
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .dt-navigation {
    display: none;
  }

  .logo img {
    width: 44px;
  }

  .navbar {
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* Top Article */

.top-articles {
  max-width: 1110px;
  margin-bottom: 71px;
}

/* Main Article */

.article-img {
  height: 300px;
  margin-bottom: 24px;
  display: block;
  background-color: var(--off-white);
}

.main-article a {
  display: inline-block;
  background-color: var(--soft-red);
  padding: 13px 35px;
  color: var(--off-white);
}

.main-article a:hover {
  background-color: var(--dark-spaceblue);
}

.main-article h1 {
  margin-bottom: 16px;
}

.main-article p {
  margin-bottom: 24px;
}

/* New Articles */

.new-articles {
  background-color: var(--dark-spaceblue);
  color: var(--off-white);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.new-articles h2 {
  margin-top: 32px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  border-bottom: 1px solid var(--off-white);
}

.feature:last-child {
  border: none;
}

.article-copy {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 350px));
  grid-template-rows: 1fr;
}

/* Popular Features */

.popular-articles {
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.popular-feature {
  display: grid;
  grid-template-columns: 100px 226px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.popular-feature img {
  background: #ddd;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.popular-feature-copy {
  grid-column: 2 / 3;
}

.popular-feature span {
  font-size: 32px;
  margin-bottom: 12px;
  color: var(--silver);
}

.popular-feature-copy h3 a {
  font-size: 18px;
  color: var(--dark-spaceblue);
  margin-bottom: 9px;
}

.popular-feature-copy h3 a:hover {
  color: var(--soft-orange);
}

/* Layout */

@media screen and (min-width: 375px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }

  .dt-nav {
    display: none;
  }

  .top-articles {
    justify-content: center;
    grid-template-columns: minmax(65.8%, 730px);
    grid-template-rows: 300px 181px 511px;
    display: grid;
    grid-gap: 30px;
  }

  .main-article {
    grid-column: 1 / 2;
  }

  .new-articles {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 1110px) {
  .dt-icon {
    display: none;
  }

  .dt-nav {
    display: flex;
  }

  .top-articles {
    display: grid;
    grid-template-columns: 65.8% 31.5%;
    grid-template-rows: 300px 181px;
    grid-gap: 30px;
  }

  .main-article {
    grid-column: 1 / 2;
  }

  .new-articles {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
