*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable Font */
/* Not sure about variable fonts - revisit later */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Colors */

:root {
  font-size: 0.9375em; /* Body copy is 15px */
  font-family: "Inter", sans-serif;
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --gunmetal: hsl(236, 13%, 42%);
  --dark-spaceblue: hsl(240, 100%, 5%);
}
