*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variable Font */
/* Not sure about variable fonts - revisit later */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Colors */

:root {
  font-size: 1em; /* Body copy is 15px */
  font-family: "Inter", sans-serif;
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --almost-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --gunmetal: hsl(236, 13%, 42%);
  --dark-spaceblue: hsl(240, 100%, 5%);
  --silver: #c5c6ce;
}

/* Base Style */

body {
  background-color: var(--off-white);
}

/* Setting mobile base styles then scale up based on screen size */

a {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: var(--dark-spaceblue);
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--soft-orange);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--almost-white);
  font-weight: 800;
  margin-bottom: 0.4em;
  transition: all 0.3s;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--gunmetal);
}

ul {
  list-style-type: none;
}

/* End of base styles */

.wrapper {
  max-width: 71.375rem;
  padding: 0 1em;
  margin: 0 auto;
  padding-top: 5.5625rem;
}

header {
  margin-bottom: 3.4375rem;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Desktop Navigation */

.dt-navigation {
  display: flex;
}

.dt-link > a {
  margin-right: 40px;
  color: var(--dark-spaceblue);
}

.dt-link > a:hover,
.mb-link a:hover {
  color: var(--soft-red);
}

.dt-link:last-child a {
  margin-right: 0;
}

/* Mobile Navigation */

@keyframes nav-in {
  0% {
    left: 120%;
  }

  100% {
    left: 0;
  }
}

.mb-nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  animation-name: nav-in;
  animation-duration: 1s;
}

@keyframes overlay-in {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 68.27%);
  }
}

.overlay {
  width: calc(100% - 68.27%);
  background-color: #000000;
  opacity: 0.55;
  animation-name: overlay-in;
  animation-duration: 1s;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 68.27%;
  background-color: #fff;
}

.navigation-container img {
  align-self: flex-end;
}

.nav-icon {
  display: flex;
  justify-content: center;
}

#nav-icon-close {
  width: 1.875rem;
  margin: 1.70625rem 1.25rem 0 0;
}

.mb-navigation {
  padding: 89px 29px 0 24px;
}

.mb-link {
  margin-bottom: 24px;
}

.mb-link a {
  color: var(--dark-spaceblue);
}

.mb-navigation:last-child li.mb-link > a {
  margin-bottom: 0;
}

/* ========== MAIN ARTICLES STYLES ========== */

.main-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4.4376rem;
}

.main-feature {
  max-width: 45.625rem;
  margin-right: 1.875em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 21.875rem);
  grid-template-rows: 18.75rem 11.4375rem;
  gap: 1.75em 1.875em;
}

.main-feature_image {
  background: url(/imgs/image-web-3-desktop.jpg);
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.main-feature_copy-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

.main-feature_copy {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-feature_link {
  display: inline-block;
  align-self: flex-start;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.9286em 2.5em 0.7857em 2.2143em;
  background-color: var(--soft-red);
  color: var(--almost-white);
  letter-spacing: 4.38px;
}

.main-feature_link:hover {
  background-color: var(--dark-spaceblue);
  color: var(--almost-white);
}

/* ========= LATEST ARTICLE MEDIA QUERIES ========= */

.latest-articles {
  max-width: 21.875rem;
  padding: 2em 1.5em;
  width: 100%;
  background-color: var(--dark-spaceblue);
}

.latest-articles_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.latest-articles h2 {
  margin-bottom: 0.85em;
}

.latest-articles h3 a {
  color: var(--almost-white);
  font-size: 1.25rem;
}

.latest-articles h3 a:hover {
  color: var(--soft-orange);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0;
  border-bottom: 1px solid var(--almost-white);
}

.feature-title {
  color: var(--dark-spaceblue);
}

.feature_title:hover {
  color: var(--soft-red);
}

.feature:last-child {
  border: none;
}

/* ========= POPULAR ARTICLES ========= */

.popular-articles_wrapper {
  display: flex;
  justify-content: center;
}

.popular-articles {
  display: flex;
  gap: 1.875em;
}

.popular-feature {
  display: flex;
  flex: 1;
  gap: 1.875em;
}

.popular-feature span {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--silver);
}

.popular-feature img {
  width: 6.25rem;
}

.popular-feature_copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-feature:last-child {
  margin-right: 0;
}

.popular-feature h3 a {
  color: var(--dark-spaceblue);
}

.popular-feature h3 a:hover {
  color: var(--soft-red);
}

/* ========= FOOTER ========= */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4em 0;
}

/* ========= MAIN ARTICLE MEDIA QUERIES ========= */

@media screen and (max-width: 1142px) {
  .main-articles {
    margin-bottom: 4em;
  }

  .main-feature {
    margin-right: 0;
    margin-bottom: 4em;
  }

  .latest-articles {
    max-width: 45.625rem;
    height: 30.563rem;
  }

  .popular-articles {
    flex-direction: column;
  }
}

@media screen and (min-width: 700px) {
  .nav-icon {
    display: none;
    width: 40px;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 1.75rem;
  }
  header {
    margin-bottom: 2rem;
  }

  .dt-navigation {
    display: none;
  }

  .logo img {
    width: 44px;
  }

  .main-feature {
    grid-template-columns: 100%;
    grid-template-rows: 300px auto 176px;
    gap: 1.5rem;
    margin-bottom: 4em;
  }

  .main-feature figure {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-feature_title {
    font-size: 2.75rem;
    line-height: 2.75rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .main-feature_image {
    background: url(/imgs/image-web-3-mobile.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .main-feature_copy {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .popular-articles {
    flex-direction: column;
  }

  .popular-feature {
    margin-right: 0;
  }
}
